.navigation-bar{
    height: 64px;
    background-color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .navigation-bar img{
        width: 50px;
        aspect-ratio: 1/1;
    }